.passvault {
    min-height: 600px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(201,223,176,1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.passvault h2 {
    color: rgb(22, 22, 22);
    font-family: 'Righteous', cursive;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}
h3{
    margin: auto;
}
.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

input {
    border-radius: 5px;
    border: 1px solid #181818;
    width: 250px;
    margin-bottom: 10px;
    padding: 10px;
    transition: border-color 0.3s;
    margin-right: 8px;
    background-color: #d7e8c4;
}

input:focus {
    border-color: rgb(32, 85, 182);
}

button {
    margin-top: 10px;
    padding: 9px 34px;
    border-radius: 5px;
    background-color: #4ca850;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 1.1em;
    font-weight: bold;
}

button:hover {
    background-color: #439547;
    transform: translateY(-1px);
}

.credentials-list {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.credential-card {
    border: 1px solid #555;
    width: 100%;
    max-width: 350px;
    margin: 10px;
    border-radius: 10px;
    padding: 15px;
    background-color: #cec9a7;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.credential-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.credential-card p {
    font-family: 'Lobster', cursive;
    font-size: 1em;
    margin: 5px 0;
}

.credential-card button {
    background: #ff6b6b;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 0.9em;
    margin-right: 10px;
}

.credential-card button:hover {
    background: #ff4f4f;
    transform: scale(1.05);
}
